body{
    margin: 0;
    font-family: 'Pretendard';
}

h2{
    text-align: center;
    margin-top: 20px;
}
span{
    margin: 0;
}

section{
    width: 80%;
    margin: auto;
    padding: 30px;
    
}

table{
    border-top: solid 1.5px black;
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
}

thead{
    /* text-align: justify; */
    font-weight: bold;
}

tbody{
    font-size: 12px;
}

td{
    padding: 15px 10px;
    border-bottom: 1px solid lightgray;
}
 .cart-txt{
    font-family: 'Pretendard';
    font-size: 32px;
    color: #21272a;    
    line-height: 20px;
    margin-bottom: 40px;
 }

/*하단 버튼 영역*/
.cart__total{
    margin-top:20px;
    display: flex;
    justify-content: space-between;
}
.cart__order{
    flex-direction: column;
    /* margin-right:110px; */
}
.cart__order div{
    margin-top:10px;
}

#summary{
    font-weight: bold;
    text-align: center;
}
.cart__btn{
    width: 200px;
    height: 40px;
    font-size: 14px;
    border-radius: 4px;
}

.cart__btn.left{
    background-color:#ebebeb;
    color:#21272a;
    border: none;
    cursor: pointer;
}
.cart__btn.right{
    background-color: #21272a;
    color: white;
    border: none;
    cursor: pointer;
}




