body{
    margin: 0;
}
h2{
    text-align: center;
    margin-top: 20px;
}
span{
    margin: 0;
}
.cart{
    width: 80%;
    margin: auto;
    padding: 30px;
}

table{
    border-top: solid 1.5px black;
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
}

thead{
    /* text-align: justify; */
    font-weight: bold;
}

tbody{
    font-size: 12px;
}

td{
    padding: 15px 10px;
    border-bottom: 1px solid lightgray;
}

/*하단 버튼 영역*/
.cart__total{
    margin-top:20px;
    display: flex;
    justify-content: space-between;
}
.cart__order{
    flex-direction: column;
    margin-right:110px;
}
.cart__order div{
    margin-top:10px;
}
#summary{
    font-weight: bold;
}
.cart__btn{
    width: 120px;
    height: 40px;
    font-size: 14px;
    border-radius: 4px;
}

.cart__btn.left{
    background-color: #c2b8b8;
    color:white;
    border: 1px lightgray solid;
    cursor: pointer;
}
.cart__btn.right{
    background-color: #2f5e2c;
    color: white;
    border: none;
    cursor: pointer;
}




