@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SEBANG_Gothic_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin : 0;
    /* background-color: #F6F5EF; */
    background-color: white;
    height: 100vh;
    width: 100vw;
}

a {
    text-decoration: none;
    color: #000;
}


.navbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 48px ;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    max-width: 1920px;
    border-bottom: 1px solid rgb(233, 236, 239);
    height: 92px;
    min-width: 320px;
}

.navbar__logo {
    /* font-family: 'SEBANG_Gothic_Bold'; */
    font-family: 'SBAggroB';
    font-size: 24px;
    color: #000;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    /* margin-left: 2% */
    overflow: hidden;
}

.navbar__right {
    list-style: none;
    display: flex;
    width: 60%;
    /* margin-right: 2%; */
    /* padding-left: 0px; */
    align-items: center;
    justify-content: center;
    
}



.search-padding{
    -webkit-box-flex: 1;
    flex-grow: 1;
    /* width: calc((100% - 4px) - 72px); */
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 20px;
    background-color: rgb(247, 248, 249);
    border-radius: 8px;
    margin-right: 10px;
    min-width: 200px;
}

.search-box {
    font-family: 'Pretendard-Regular';
    background-color:transparent;
    border-style: none;
    font-size: 20x;
    line-height: 1.2;
    padding: 6px 8px;
    border-radius: 8px;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    background-color: rgb(247, 248, 249);
    width: 100%;
    justify-content: space-between;
}

.search-img{
   width: 15px;
   height: 15px;
   opacity: 20%;
   margin-right: 4px;
}

.search-input:focus {outline: none;}

.search-input{
    font-family: 'Pretendard';
    font-weight: 400px;
    background-color:transparent;
    border-style: none;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 0px;
    height: 24px;
    font-size: 16px;
    line-height: 1.2;
    opacity: 60%;
}

.navbar__left {
    display: flex;
    list-style: none;
    margin-left: 20px;
    padding-left: 0px;
}

.navbar__left li {
    padding: 5px 13px;
}

.navbar__right li {
    padding: 5px 13px;
}


.navbar__right li:hover{
    opacity: 1;
    visibility: visible;
}

.sub__account{
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    opacity: 0;
    visibility: hidden;
}


.right-sub {
    font-family: 'Pretendard-Regular';
    color: #000;
    display:inline-block; 
    margin: 0;
    text-transform:uppercase;
    color: #0D1117;
    align-items: center;
    justify-content: center;
 }


.logout-btn {
    font-family: 'Pretendard-Regular';
    background-color:transparent;
    border: 0;
    border-style: none;
    font-size: 14px;
    color: #0D1117;
    margin: 0;
    padding: 0;
}

.logout-btn:hover{
    cursor: pointer;
}

.nav-txt {
    font-family: 'Pretendard-Regular';
    font-size: 15px;
    color: #222222;
    margin: 0px 4px;
    align-items: center;
    justify-content: center;
}

.sub-welcome {
    color: #222222;
    font-family: 'Pretendard-Regular';
    font-size: 15px;
    color: #222222;
    align-items: center;
    justify-content: center;   
    width: 150px;
}


/* .search-padding{
    padding: 4px 13px;
} */