body {
  padding-top: 92px;
}

.swiper {
  width: 100%; /* 배너 너비 */
  height: 440px; /* 배너 높이 */
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  background: #fff;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: white;
}

.product-container {
  margin: 30px auto;
  max-width: 1280px;
  padding: 0px 40px;
}

.product-category2,
.search-result {
  max-width: 1280px;
}

.product-container {
  margin: 30px auto;
  max-width: 1280px;
  padding: 0px 40px;
}

.product-category2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* change to flex-start */
  padding: 40px 0px;
  max-width: 1280px;
}

.category {
  height: 100px;
  /* display: flex; */
  background-color: white;
  border: none;
  justify-content: center;
  align-items: center;
  color: #333333;
  font-size: 15px;
  font-family: "Pretendard-Regular";
  width: calc(
    20% - 10px
  ); /* add width to each category to ensure 5 fit in a row */
  margin: 0 5px 20px 5px; /* add margin to space out categories */
  cursor: pointer;
}

.category img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 5px;
}

.search-result {
  padding-left: 10px;
  padding-right: 16px;
  margin-top: 8px;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-total-count {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: rgba(34, 34, 34, 0.8);
}

.product-card {
  font-family: "Pretendard-Regular";
  flex-basis: calc(25% - 10px);
  margin: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.product-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 30px;
  align-items: stretch;
  width: 100%; /* 추가 */
}

.product-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 10px;
}

.product-brand,
.product-name,
.product-price {
  font-family: "Pretendard";
  font-size: 13px;
}

.product-brand {
  color: #222222;
  font-weight: bold;
  text-decoration: underline;
  padding: 6px;
}

.product-name {
  color: #555555;
  padding: 6px;
}

.product-price {
  color: #222222;
  font-weight: bold;
  padding: 6px;
}

#search-result {
  padding-right: 16px;
  margin-top: 8px;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
