body{
    padding-top: 92px;
}

.swiper {
    width: 100%; /* 배너 너비 */
    height: 440px; /* 배너 높이 */

}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

}
.swiper-wrapper{

}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    color:white;
}


.product-container {
    /* background-color: white; */
    margin-top: 30px;
}

.product-category{
    display: flex;
    margin: 50px auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 700px;
    border-bottom: 1px solid #555555;
    border-top: 1px solid #555555;
    padding: 10px 0px;
}

.category-txt{
    font-family: 'Pretendard-Regular';
    font-size: 14px;
    color: #222222;
    font-weight: bold;
    margin: 0px;
    padding: 10px 50px 10px 0px;

}

.category-list{
    font-family: 'Pretendard-Regular';
    font-size: 14px;
    color: #222222;
    padding: 10px 10px;
    
}

.category-list:hover{
    text-decoration:underline;
}

.product-category2{
    display: flex;
    justify-content: space-between;
    width: 1040px;
    margin: 0px auto;
    padding: 40px 0px ;
}

.category{
    width: 200px;
    height: 100px;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #333333;
    font-size: 15px;
    font-family: 'Pretendard-Regular';
}

.category img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 5px;
}

.product-card {
    font-family: 'Pretendard-Regular';
    width: 280px;
    height: 400px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.product-card:hover {
    cursor: pointer;
}

.product-list {
    font-family: 'Pretendard-Regular';
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    margin: 30px 0px;
}

.product-img {
    width: 260px;
    height: 260px;
    object-fit: cover;
    border-radius: 12px;
}


.product-brand{
    font-family: 'Pretendard';
    font-size: 13px;
    color: #222222;
    font-weight: bold;
    padding: 6px 0;
    text-decoration:underline;
    
}

.product-name{
    font-family: 'Pretendard';
    font-size: 13px;
    color: #555555;
    padding: 6px 0;
    
}

.product-price{
    font-family: 'Pretendard';
    font-size: 14px;
    color: #222222;
    font-weight: bold;
}